@import '../../styles/variables.less';
.feature-card {
  padding-top: 70px;
  padding: 70px 140px;
  position: relative;
  .ant-typography {
    color: black;
  }
  h1.ant-typography {
    font-size: 36px;
    font-weight: 500;
  }
  &-content {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    font-weight: 500;
  }
  &-picture {
    display: inline-block;
    width: 50%;
  }
}
