@import "../../styles/variables.less";

.sales {
    h1&-main-heading{
        font-size: 57px;
        color: @primary-color;
        margin-bottom: 5px;
    }
    span&-sub-heading{
        font-size: 19px;
        width: 40%;
        text-align: center;
        margin-bottom: 50px;
    }

}
