@import '../../styles/variables.less';

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: @layout-body-background;

  .page-header {
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: @layout-header-background;
    padding: 20px 48px;

    &.primary {
      justify-content: space-between;

      .menu-blocks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        .mobile-menu{
         position: absolute;
         height: 100%;
         width: 100%;
         z-index: 9999;
         top: 60px;
         left: 0;
         background-color: @black;
        &:first-child::after{
          content: "";
             display: block;
             height: 1px;
             width: 100%;
             left: 0;
             background-color: @white;
        }
         &>ul{
           list-style: none;
          font-family: 'Montserrat', sans-serif;
          padding-left: 0;
          &>li{
            padding: 8px 30px;
            &:last-child{
              margin-bottom: 10px;
            }
          }
           
           &:first-of-type{
             font-weight: 700;
             text-transform: uppercase;
             &::after{
               content: "";
               display: block;
               height: 1px;
               width: 100%;
               left: 0;
               background-color: @white;
              }
            }
         }

        }
          

      }

      .logo {
        padding-right: 20px;
      }

      .ant-menu-horizontal {
        border-bottom: 0;
        font-family: 'Montserrat', sans-serif;
        @media only screen and (max-width: 900px){
          display: none;
        }
      }
    }
  }

  .page-content {
    flex: 1;
  }
}
